/* FONT STACK */
body,
input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

/* BASE LAYOUT */

html {
    
}

html.no-cssgradients {
    background-color: #aaa;
}

.ie6 html {
    height: 100%;
}

html * {
    margin: 0;
}

body {
background-image:url(../images/fondo01.jpg);
background-repeat:no-repeat;
background-position:center top;
background-attachment: fixed;
overflow-x: hidden;
overflow-y: scroll;
   margin: 0;
   background-color:rgba(0,0,0,1);   
}

#logo {
    background-image:url(../images/logo.jpg);
    background-size: 80px 80px;
	background-repeat:no-repeat;
	background-position:center top;
	
	min-height: 80px;
	min-width: 80px;
	position: absolute;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	z-index: 1001;
	border: 2px solid rgba(255,153,0,0.8);
		-moz-box-shadow: 0 0 1em rgba(255,153,0,0.7) !important;
	-webkit-box-shadow: 0 0 1em rgba(255,153,0,0.7) !important;
	        box-shadow: 0 0 1em rgba(255,153,0,0.7) !important;
	}

/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
    border-color: #255b17;
    border-style: solid;
    border-width: 0 1px;
}

.ie6 body {
    height: 100%;
}

a:link, a:visited, a:hover {
    color: #003366;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    font-style: italic;
}

a:hover, a:active {
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
    color: #006699;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;    
    font-style: italic;
}

h1 {
    color: #003333;
    font-weight: bold;
    font-size: 24px;
    margin: 0.8em 0 0.3em 0;
    font-style: normal;
    font-variant: inherit;
}

h3 {
    color: #003333;
    background-color: rgba(51,51,51,0.1) !important;
    font-weight: bold;
    margin: 2em 2em 1.3em 2em;
    font-style: normal;
    font-variant: inherit;
    border-bottom: 1px solid #CCCCCC;    
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding: 0.25em 0.25em 0.25em 1.25em;
        -moz-border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    border-radius: 0.7em;
}

ul {
    padding: 0;
}

img {
    border: 0;
}

/* GENERAL */

.content {
}

.content h1 {
    border-bottom: 1px solid #CCCCCC;
    margin: 0.8em 1em 0.3em;
    padding: 0 0.25em;
}

.scaffold-list h1 {
    border: none;
}

.spinner {
    background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
    height: 16px;
    width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999px;
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    width: 450px;
    height: 60px;
    overflow: auto; /* IE always renders vertical scrollbar without this */
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #48802C;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
    display: inline;
    zoom: 1;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.25em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

.message {
    background: transparent url(../images/skin/information.png) 0.5em 50% no-repeat;
    text-indent: 2.2em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
    border-top: 1px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    font-size: .8em;
}

tr {
    border: 0;
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th, tfoot td {
    line-height: 1.5em;
    padding: 0.2em 0.3em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

tfoot td {
    background-color: #408080;
    background-image: -moz-linear-gradient(top, #408080, #111111);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #408080), color-stop(1, #111111));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#408080', EndColorStr = '#111111');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#408080', EndColorStr='#111111')";
    color: YELLOW;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
    height: 20px;    
	font-size: 16px;
}

thead th, tfoot td {
    white-space: nowrap;
}

tfoot td:FIRST-CHILD{
	text-align: center !important;
}

tfoot td:last-child{
	color: #00ff00;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #ffffff;
}

.food {
    background: wheat;
}

th:hover {	
    background: #f7f7f7;
} 
tr:hover {	
    background-color: chartreuse light;
    box-shadow: 0px 0px 1.25em chartreuse;
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
    color: #666666;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

/* NAVIGATION MENU */
.nav {
    background-color: rgba(31,31,31,0.8);
    overflow: hidden;
    padding: 0.2em 0.2em 0.2em 2.3em;
    margin: 0 0 0 0;
    border: none;
	position:inherit;	
	width: 100%;    
	min-height:30px;
}

.nav li {
    display: block;
    float: left;
    list-style-type: none;
    margin-right: 0.5em;
	margin-top: 0.3em;
    padding: 0;
}


/* ACTION BUTTONS */

.buttons, .footerFill, .filtrarPor fieldset, .asistencia fieldset{
    background-color: rgba(31,31,31,0.8);
    overflow: hidden;
    padding: 0.3em 0.3em 0.3em 2.3em;
    margin: 0.3em 0 0 0;
    border: none;
	position:inherit;
	min-height: 30px;
	width: 100%;
}



.footerFill{
	display: none;
}
 
a.skip {
    position: absolute;
    left: -9999px;
}

#login, nav{
	width: 100%;
	border: 0;
	position:relative;	
	background-color:rgba(51,51,51,0.9);
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-align:right;
	margin-bottom:0px;
	margin-left:0px;
	margin-right: 0px;
	margin-top: 0px;
	z-index: 1000;
}
	
#login label{
	border-right: 2px solid rgba(153,153,153,1);
	padding-right: 10px;
	margin-right: 10px;
	color:rgba(204,204,204,1);
	
	}
#login a:link,#login a:visited,#login a:hover, 
.buttons a:link,.buttons a:visited,.buttons a:hover,
.buttons input[type=submit], .nav a, .filtrarPor fieldset input{
	color:rgba(255,153,51,1) !important;
	margin-right: 20px; 
	background-color:transparent !important;;
    border: 2px solid rgba(255,153,51,0.6) !important;
	padding: 2px 10px 2px 10px !important;
    text-decoration: none;
    -moz-border-radius: 0.7em !important;
    -webkit-border-radius: 0.7em !important;
    border-radius: 0.7em; !important;
    font-style: normal !important;
    transition: 0.3s ease-in-out;
	}
	
#login a:hover,#login a:active,
.buttons a:hover,.buttons a:active,
.buttons input:hover,.buttons input:active,
.nav a:focus, .nav a:hover, .filtrarPor fieldset input:hover{
    outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
    border: 2px solid rgba(255,204,51,0.8);
    color: rgba(255,204,51,1) !important;
	background-color:rgba(0,153,255,0.2);
    text-decoration: none;
    font-style: italic;
	-moz-box-shadow: 0 0 0.5em rgba(255,153,0,0.6) !important;
	-webkit-box-shadow: 0 0 0.5em rgba(255,153,0,0.6) !important;
	    box-shadow: 0 0 0.5em rgba(255,153,0,0.6) !important;
}

.nav a{
	padding-left: 33px !important;
	}

.nav a.home, .nav a.list, .nav a.create{
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.nav a.home {
    background-image: url(../images/skin/house.png);
}

.nav a.list {
    background-image: url(../images/skin/database_table.png);
}

.nav a.create {
    background-image: url(../images/skin/database_add.png);
}

#wrapper{
		width:961px;
		background: rgba(255,255,255,0.8);
	    color: #333333;
    	margin: 0 auto;
		margin-top: 110px !important;
		margin-bottom: 110px !important;
    overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
    -moz-box-shadow: 0 0 1em 0.2em rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 1em 0.2em rgba(0,0,0,0.8);
    box-shadow: 0 0 1em 0.2em rgba(0,0,0,0.8);
	border: 10px solid rgba(0,0,0,0.6);
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	}

header{
	position: fixed;
	float: inherit;
	top: 0;
	width: 100%;
	-moz-box-shadow: 0 0 1em rgba(255,153,0,0.7) !important;
	-webkit-box-shadow: 0 0 1em rgba(255,153,0,0.7) !important;
	        box-shadow: 0 0 1em rgba(255,153,0,0.7) !important;
	}
 
 nav {
   	background-color:rgba(51,51,51,0.7);
   	text-align:center;
	border-top: 1px solid rgba(153,153,153,0.8);
}
  
nav > ul {
	/*Quitamos el overflow hidden que estaba aqui*/
	position: relative;
	text-align: center;
}
 
nav > ul li {
	display:inline-block;	
}

nav > ul > li > a, nav > ul > li > span{
	color: rgba(0,204,255,1) !important;
	margin-right: 7px; 
	font-style:normal;
	text-decoration: none;
    -moz-border-radius: 0.7em !important;
    -webkit-border-radius: 0.7em !important;
    border-radius: 0.7em !important;
    font-style: normal !important;
    transition: 0.3s ease-in-out;	
	background-color: rgba(51,51,51,1) !important;
    border: 2px solid rgba(0,204,255,0.6) !important;
	padding: 2px 10px 2px 10px;
	}
nav > ul > li > span{
	padding-left: 24px !important;
	background-image: url(../images/skin/menu/arrow-rigth.png);
	background-repeat: no-repeat;	
	background-position: 5px 3px;
	
}

.selectedMenu{
	background-image: url(../images/skin/menu/arrow-down.png);
}

nav > ul > li > a:hover, nav > ul > li > span:hover, .selectedMenu{
	border: 2px solid rgba(0,255,255,0.8);
    color: rgba(0,255,255,1) !important;
	background-color:rgba(0,153,255,0.2) !important; 
    text-decoration: none;
    font-style: normal;
	-moz-box-shadow: 0 0 0.5em rgba(0,255,255,0.6) !important;
	-webkit-box-shadow: 0 0 0.5em rgba(0,255,255,0.6) !important;
	    box-shadow: 0 0 0.5em rgba(0,255,255,0.6) !important;
	}
.selectedMenu{
	border: 2px solid yellow;
}
 
/*Sub-menu*/
nav > div {
	display: none;
	margin-top: 20px;
    transition: all 2s ease 0;    
    -moz-transition: all 2s ease 0;
    -o-transition: all 2s ease 0;
    -webkit-transition: all 2s ease 0;
    -ms-transition: all 2s ease 0;    
    background-color: rgba(51,51,51,0.7) !important;    
}

nav > div > ul {
	position: relative;
	text-align: center;
	border-top: 1px solid rgba(0,204,255,0.6) !important;
	}

nav > div > ul li {
	display:inline-block;
	padding: 3px;
}

nav > div > ul > li > a{
	font-size:14px;
	color: rgba(0,204,255,1) !important;
	margin-right: 7px; 
	font-style:normal;
	text-decoration: none;
    font-style: normal !important;
    transition: 0.3s ease-in-out;	
	border-left: 0px;
	border-right: 0px;    
	padding: 3px 0px 3px 0px;
	-moz-border-radius: 0em!important;
    -webkit-border-radius: 0em!important;
    border-radius: 0em !important;
	
	}
nav > div > ul > li > a:hover{
	padding: 3px 18px 3px 18px;
	text-shadow: 0 0 0.5em rgba(255,255,255,1);
	border-left: 1px solid rgba(0,204,255,0.6) !important;
	border-right: 1px solid rgba(0,204,255,0.6) !important;
	}

	
.moreBottomMargin{
	margin-bottom: 300px; 
}

.mainOption div, .mainOptionAsistencia div, .mainOptionAsistenciaReady div{
            background-color: rgba(234,204,255,0.1);
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 64px 64px;
            border: 0px;
            margin: 2em 2em 1.5em 3em;
            padding: 1em;         
            
            height: 6em;
            float: left;
            -moz-box-shadow: 0px 0px 0.5em #433434;
            -webkit-box-shadow: 0px 0px 0.5em #433434;
            box-shadow: 0px 0px 0.5em #433434;
            -moz-border-radius: 40px;
            -webkit-border-radius: 40px;
            border-radius: 40px;
            text-align: center;
    }

.mainOptionAsistencia div, .mainOptionAsistenciaReady div{
	
    height: 2em;
    vertical-align: middle;
    background-repeat: no-repeat; 
    background-position: left center;
    text-align: left;
    padding-left: 4.5em;
    margin: 0.5em 0em 0.5em 3em;
}

.mainOptionAsistenciaReady div{
            background-color: rgba(253,255,204,0.5);
            -moz-box-shadow: 0px 0px 0.5em #433434;
            -webkit-box-shadow: 0px 0px 0.5em #433434;
            box-shadow: 0px 0px 0.5em #433434;
    }
    
.mainOption:hover div, .mainOptionAsistencia:hover div{
            background-color: #efc;
            -moz-box-shadow: 0px 0px 0.5em rgba(152,255,112,0.8);
            -webkit-box-shadow: 0px 0px 0.5em rgba(152,255,112,0.8);
            box-shadow: 0px 0px 0.5em rgba(152,255,112,0.8);
    }
.filtrarPor, .asistencia {
	
	border: 1px solid #eeeeee;
	-moz-box-shadow: 0px 0px 0.5em #433434;
     -webkit-box-shadow: 0px 0px 0.5em #433434;
     box-shadow: 0px 0px 0.5em #433434;
     -moz-border-radius: 20px;
     -webkit-border-radius: 20px;
     border-radius: 20px;
     padding: 0px 0px 0px 0px !important;
     margin-bottom: 20px;
     margin-left: 50px;
}

.filtrarPor legend, .asistencia legend {
	border: 1px solid #000000;
	margin-left: 30px;
	background-color: rgba(240,240,255,1);
	padding-left: 20px;
	padding-right: 20px;
	-moz-box-shadow: 0px 0px 0.5em #433434;
    -webkit-box-shadow: 0px 0px 0.5em #433434;
     box-shadow: 0px 0px 0.5em #433434;
     -moz-border-radius: 40px;
     -webkit-border-radius: 40px;
     border-radius: 40px;      
     font-weight: bold;      
}

.filtrarPor div{
	padding: 0px 0px 15px 40px;
}

.filtrarPor div input[type=text]{
	margin-right: 20px;
}

.filtrarPor div input[type=checkbox]{
	margin-top: 20px;
	background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

.filtrarPor div label{	
	width: 130px !important;
}


.filtrarPor fieldset{
	width: auto !important;
	 box-shadow: 0px 0px 0.5em #433434;
     -moz-border-radius: 40px;
     -webkit-border-radius: 40px;
     border-radius:  0px 0px 20px 20px; 
     text-align: right;
     padding-right: 50px !important
	
}

.remove {
	background-image: url("../images/skin/database_delete.png");
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	width: 16px;	
	height: 16px;
	min-height: 16px;
	min-width: 16px;
	
}

.turnMinus, .turnPlus {
	background-position: center center;
	background-repeat: no-repeat;
	display: list-item;
	width: 11px;
	min-width: 11px;
	height: 11px;
	min-height: 11px;
}

.turnMinus{
	background-image:url(../images/skin/minus.gif);
}

.turnPlus {
	background-image:url(../images/skin/plus.gif);
}
