.dayWeekName {
	border-color: black;
	margin: 4px 4px 4px 4px;
	width: 70px;
	height: 20px;		
	background-repeat: no-repeat;
	background-position: bottom center;
	background-color: #777;
	color: white;
	padding: .5em;     
	float: left;
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 0.7em #ccc;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 1.0em;
	text-align: center;
	border: .2em solid #fff;		
}

.nextMonth {
    border-color: black;
    margin: 4px 4px 4px 4px;
    width: 70px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #777;
    color: white;
    padding: .5em;
    float: left;
    -moz-box-shadow: 0px 0px 1.25em #ccc;
    -webkit-box-shadow: 0px 0px 1.25em #ccc;
    box-shadow: 0px 0px 0.7em #ccc;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 1.0em;
    text-align: center;
    border: .2em solid #fff;
}
.nextMonth:hover{
    background-color: #eee;
    -moz-box-shadow: 0px 0px 1.25em #E3F6CE;
    -webkit-box-shadow: 0px 0px 1.25em #E3F6CE;
    box-shadow: 0px 0px 1.25em #eee;
    border: .2em solid #aa93ff;
}

.backMonth {
    border-color: black;
    margin: 4px 4px 4px 40px;
    width: 70px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #777;
    color: white;
    padding: .5em;
    float: left;
    -moz-box-shadow: 0px 0px 1.25em #ccc;
    -webkit-box-shadow: 0px 0px 1.25em #ccc;
    box-shadow: 0px 0px 0.7em #ccc;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 1.0em;
    text-align: center;
    border: .2em solid #fff;
}

.backMonth:hover{
    background-color: #eee;
    -moz-box-shadow: 0px 0px 1.25em #E3F6CE;
    -webkit-box-shadow: 0px 0px 1.25em #E3F6CE;
    box-shadow: 0px 0px 1.25em #eee;
    border: .2em solid #aa93ff;
}
.titleCalendar{
    border-color: black;
    margin: 4px 4px 4px 4px;
    width: 400px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #777;
    color: white;
    padding: .5em;
    float: left;
    -moz-box-shadow: 0px 0px 1.25em #ccc;
    -webkit-box-shadow: 0px 0px 1.25em #ccc;
    box-shadow: 0px 0px 0.7em #ccc;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 1.0em;
    text-align: center;
    border: .2em solid #fff;
}

.calendarHeader{
    width: 700px;
    height: 60px;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.calendarBody{
	width: 700px;
        height: 600px;
        margin-left: 120px;
        margin-top: 0px;
        margin-bottom: 20px;
	text-align: center;
}

.day_empty{
	float: left;
	margin: 4px 4px 4px 4px;
	width: 70px;
	height: 60px;	
	padding: .5em; 
	border: .2em solid #FFF;

}

.day_green, .day_grey, .day_blue, .day_red, .day_orange {
	border-color: black;
	margin: 4px 4px 4px 4px;
	width: 70px;
	height: 60px;	
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: bottom center;
	border: .2em solid #fff;
	padding: .5em;     
	float: left;
	-moz-box-shadow: 0px 0px 0.7em #ccc;
	-webkit-box-shadow: 0px 0px 0.7em #ccc;
	box-shadow: 0px 0px 0.7em #ccc;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 1.0em;
	text-align: center;
}

.selected{
	border: .2em solid #ffff3e;
}

.day_grey{
	background-color: #bbb;
}

.day_green{
	background-color: #ACFA58;
}

.day_blue{
	background-color: #2E9AFE;
}

.day_red{
	background-color: #FE2E2E;
}

.day_orange{
	background-color: #fec623;
}

.day_grey:hover{
	background-color: #eee;
	-moz-box-shadow: 0px 0px 1.25em #E3F6CE;
	-webkit-box-shadow: 0px 0px 1.25em #E3F6CE;
	box-shadow: 0px 0px 1.25em #eee;
}

.day_green:hover{
	background-color: #E3F6CE;
	-moz-box-shadow: 0px 0px 1.25em #E3F6CE;
	-webkit-box-shadow: 0px 0px 1.25em #E3F6CE;
	box-shadow: 0px 0px 1.25em #ACFA58;
}

.day_blue:hover{
	background-color: #E0F8F7;
	-moz-box-shadow: 0px 0px 1.25em #E0F8F7;
	-webkit-box-shadow: 0px 0px 1.25em #E0F8F7;
	box-shadow: 0px 0px 1.25em #A9E2F3;
}

.day_red:hover{
	background-color: #F8E0E0;
	-moz-box-shadow: 0px 0px 1.25em #F8E0E0;
	-webkit-box-shadow: 0px 0px 1.25em #F8E0E0;
	box-shadow: 0px 0px 1.25em  #FA5858;
}

.day_orange:hover{
	background-color: #fff474;
	-moz-box-shadow: 0px 0px 1.25em #fff474;
	-webkit-box-shadow: 0px 0px 1.25em #fff474;
	box-shadow: 0px 0px 1.25em  #fff474;
}


.dayNumber {
	background-color: black;
	color: white;
	width: 30px;
	height: 15px;		
	margin: 0px 0px 0px 0px;
	padding-right: 3px;
	float: right;
	text-align: right;
	font-size: 12px;
	border-radius: 1.0em;
}

.holidayNumber{
    background-color: white !important;
    color: black  !important;
}

.popupInfo {
    font-size: 12px;
    clear:both;
    position: absolute;
    float: left;
    display: none;
    background-color: #fae6ca;
    opacity:0.9;
    filter:alpha(opacity=90);
    -moz-box-shadow: 0px 0px 1.25em #fae6ca;
    -webkit-box-shadow: 0px 0px 1.25em #fae6ca;
    box-shadow: 0px 0px 1.25em #fae6ca;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 1.0em;
    border: 3px solid #444444;
    padding: 6px;
    width: 250px;
}

.popupInfo span{
    background-color: #fad089;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 2px;
    clear: both;

}

.releaseNumber_blue, .releaseNumber_green, .releaseNumber_red, .releaseNumber_orange {			
	width: 70px;
	height: 15px;		
	margin-top: 20px;
	font-size: 12px;	
	position: absolute;
	color: #000;
	text-align: center;
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #000;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 1.0em;
}

.primaryOnCall {
    width: 75px;
    height: 15px;
    margin-top: 20px;
    font-size: 10px;
    position: absolute;
    color: #000;
    background-color: #FFFFFF;
    text-align: center;
    -moz-box-shadow: 0px 0px 1.25em #ccc;
    -webkit-box-shadow: 0px 0px 1.25em #ccc;
    box-shadow: 0px 0px 1.25em #000;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 1.0em;
}

.secondaryOnCall{
    width: 75px;
    height: 15px;
    margin-top: 40px;
    color: #000;
    background-color: #d3fcff;
    font-size: 10px;
    float: inherit;
    position: absolute;
    text-align: center;
    -moz-box-shadow: 0px 0px 1.25em #ccc;
    -webkit-box-shadow: 0px 0px 1.25em #ccc;
    box-shadow: 0px 0px 1.25em #000;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 1.0em;
}

.releaseNumber_blue {
	background-color: #2E9AFE;
}

.releaseNumber_green {
	background-color: #ACFA58;
}

.releaseNumber_red {
	background-color: red;
}

.releaseNumber_orange {
	background-color: #fec623;
}

.releaseNumber_blue:hover, .releaseNumber_green:hover, .releaseNumber_red:hover, .releaseNumber_orange:hover {			
	background-color: #F7F2E0;
}



.codeFreezNumber_blue, .codeFreezNumber_green, .codeFreezNumber_red, .codeFreezNumber_orange {
	width: 70px;
	height: 15px;		
	margin-top: 40px;
	color: #000;
	font-size: 12px;
	float: inherit;
	position: absolute;
	text-align: center;
	-moz-box-shadow: 0px 0px 1.25em #ccc;
	-webkit-box-shadow: 0px 0px 1.25em #ccc;
	box-shadow: 0px 0px 1.25em #000;
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 1.0em;
}

.codeFreezNumber_blue {
	background-color: #2E9AFE;
}

.codeFreezNumber_green {
	background-color: #ACFA58;
}

.codeFreezNumber_red {
	background-color: red;
}

.codeFreezNumber_orange {
	background-color: #fe9508;
}

.codeFreezNumber_blue:hover, .codeFreezNumber_green:hover, .codeFreezNumber_red:hover, .codeFreezNumber_orange:hover {			
	background-color: #F7F2E0;
}

.holidayFlagInd, .holidayFlagArg, .holidayFlagUSA,.flagInd, .flagArg, .flagUSA{
    
height: 17px !important;
    width: 25px !important;
    margin-left: 2px;
    border: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.flagInd, .flagArg, .flagUSA{    
    float: left;
}

.flagInd, .holidayFlagInd{
     background-image: url('../images/flags/india.png') !important;
 }
 
 .flagArg, .holidayFlagArg{
     background-image: url('../images/flags/argentina.png') !important;
 }
 
 .flagUSA, .holidayFlagUSA{
     background-image: url('../images/flags/usa.png') !important;
 }